# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.

# jobs
jobs:
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0  
    steps:
      - run: echo "hello world" > output.txt
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - .
      
   print_output_file:
    docker:
      - image: circleci/node:13.8.0  
    steps:
      - attach_workspace:
        at: /tmp/workspace
      -run: cat output.txt
       

# Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - save_hello_world_output
      -  print_output_file:
          requires: 
            - save_hello_world_output
